* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

@import url("./normalize.css");

.perfil .title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "roboto";
}

.title-experience {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "roboto";
  text-align: center;
}

.title-work1 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "roboto";
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 50vh;
  position: relative;
}

.navbar-nav a:hover {
  background-color: #888;
  border-radius: 5px;
}

/* MENÚ DE NAVEGACIÓN */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #262525;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
nav ul {
  display: flex;
}

nav ul li a {
  margin: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 15px;
  /* padding-left: 70px; */
}
.logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 22px;
}

.perfil {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
}

.sub {
  font-size: 20px;
}

button {
  cursor: pointer;
}

.foto-perfil {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
}

dt {
  padding: 10px 0;
  font-weight: bolder;
}

dd {
  padding: 10px 0;
}

/* ESTILOS ACERCA DE: */

.about-container {
  display: flex;
  width: 60%;
  height: 330px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  padding: 1.5rem;
  box-sizing: inherit;

  /* flex-wrap: wrap; */
}

.about-info {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-text {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-text .title-about {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "roboto";
}

.about-text button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  background-color: #262525;
  border-radius: 5px;
}

.about-info .title-info {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "roboto";
}

.container-social {
  margin: auto;
  width: 60%;
  text-align: center;
}

.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #888;
  color: #ffffff;
  text-align: center;
}

.experience {
  display: flex;
  width: 60%;
  height: 330px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  padding: 1.5rem;
  box-sizing: inherit;
  margin-top: 55px;
}

/* ESTUDIOS */

.title-estudios {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "roboto";
  text-align: center;
}

.title-study-1 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "roboto";
}

.estudios {
  display: flex;
  width: 60%;
  height: 330px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  padding: 1.5rem;
  box-sizing: inherit;
  margin-top: 55px;
}

footer p {
  font-family: calibri;
}
footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center;
}
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
